# This file is utilized by direnv to automatically activate the virtual environment when working in an OSX terminal
if [ -n "${workspaceFolder}" ]; then
    source ${workspaceFolder}/.venv/bin/activate
fi
